body {
    background-color: #d9d9d9;
}
#mainContainer {
    /* margin-top: 7%; */
    background-color: #ffffff;
}

@media (min-width: 576px) {
#mainContainer {
    max-width: 650px;
}
}

@media (min-width: 768px) {
#mainContainer {
    max-width: 730px;
}
}

@media (min-width: 992px) {
#mainContainer {
    max-width: 835px;
}
}

@media (min-width: 1200px) {
#mainContainer {
    max-width: 865px;
}
}

@media (min-width: 1400px) {
#mainContainer {
    max-width: 1000px;
}
}

.navbar
{
    background-color: #FFFFFF;
}