body {
    background-color: #d9d9d9;
}
#mainContainer {
    /* margin-top: 7%; */
    background-color: #ffffff;
}

@media (min-width: 576px) {
#mainContainer {
    max-width: 750px;
}
}

@media (min-width: 768px) {
#mainContainer {
    max-width: 830px;
}
}

@media (min-width: 992px) {
#mainContainer {
    max-width: 935px;
}
}

@media (min-width: 1200px) {
#mainContainer {
    max-width: 965px;
}
}

@media (min-width: 1400px) {
#mainContainer {
    max-width: 1100px;
}
}

.navbar
{
    background-color: #FFFFFF;
}